/** **************************************
* Fonts: app
*************************************** */
/** **************************************
* Fonts: options
*************************************** */
@use '@fontsource-variable/dm-sans';
@use '@fontsource-variable/inter';
@use '@fontsource-variable/nunito-sans';
@use '@fontsource-variable/noto-sans-kr';

/** **************************************
* Plugins
*************************************** */
/* scrollbar */
@use './components/scrollbar/styles.css';

/** **************************************
* Baseline
*************************************** */
html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body,
#root,
#root__layout {
  display: flex;
  flex: 1 1 auto;
  min-height: 100%;
  flex-direction: column;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: none;
}

input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type='number']::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.slick-prev {
  left: 3% !important;
  z-index: 1;

  &:before {
    //font-size: 40px !important;
  }
}
.slick-next {
  right: 3% !important;
  z-index: 1;

  &:before {
    //font-size: 40px !important;
  }
}

.slick-slide {
  padding: 0 2px; // space(여백)/2
}
